@{
    ViewData["Title"] = "Profils";
}
<div class="text-center">
    <h1>Vai jūs esat drošs, ka vēlaties dzēst?</h1>
    <a asp-controller="Profile" asp-action="Index" class="btn btn-primary">Atpakaļ uz iestatījumiem</a>
    <a asp-controller="Profile" asp-action="DeletePOST" class="btn btn-danger">Izdzēst</a>
</div>