@model ApplicationUser
@{
    ViewData["Title"] = "Profils";
}

<h1>Profils</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Vārds</th>
            <th scope="col">Uzvārds</th>
            <th scope="col">Kompānijas nosaukums</th>
            <th scope="col">E-Pasts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="25%">@Model.Name</td>
            <td width="25%">@Model.Surname</td>
            <td width="25%">@Model.CompanyName</td>
            <td width="25%">@Model.Email</td>
        </tr>
    </tbody>
</table>
<a asp-controller="Profile" asp-action="Edit" class="btn btn-warning" style="float:none">Rediģēt</a>
@*<a asp-controller="Profile" asp-action="Delete" class="btn btn-danger" style="float:none">Dzēst</a>*@