@model Warehouse
@{
    ViewData["Title"] = "Noliktavas";
}
<form method="post">
  <fieldset>
@*      <div asp-validation-summary="All" class="text-danger"></div>*@
    <input asp-for="Id" hidden />
    <div class="form-group">
      <label asp-for="Name" class="form-label mt-4">Nosaukums</label>
      <input asp-for="Name" disabled  class="form-control" placeholder="Mana Noliktava">
    </div>
    <div class="form-group">
      <label asp-for="Address" class="form-label mt-4">Adrese</label>
      <input asp-for="Address" disabled  class="form-control" placeholder="Rīgas iela 1">
    </div>
    <div class="form-group">
      <label asp-for="MaxCapacity" class="form-label mt-4">Maksimālā ietilpība</label>
      <input asp-for="MaxCapacity" disabled  class="form-control">
    </div>
    <div class="mt-4">
        <a asp-controller="Warehouses" asp-action="Index" class="btn btn-primary">Atpakaļ uz sarakstu</a>
        <button type="submit" class="btn btn-danger">Izdzēst</button>
    </div>
  </fieldset>
</form>