@model RegisterViewModel

@{
    ViewBag.Title = "Reģistrācija";
}

<h1>Lietotāja Reģistrācija</h1>

<form method="post">
  <fieldset>
    <div class="form-group">
      <label asp-for="Name" class="form-label mt-4">Vārds</label>
      <input asp-for="Name"  class="form-control" placeholder="Jānis">
    </div>
    <div class="form-group">
      <label asp-for="Surname" class="form-label mt-4">Uzvārds</label>
      <input asp-for="Surname"  class="form-control" placeholder="Bērziņš">
    </div>
    <div class="form-group">
      <label asp-for="CompanyName" class="form-label mt-4">Kompānijas Nosaukums</label>
      <input asp-for="CompanyName"  class="form-control">
    </div>
    <div class="form-group">
      <label asp-for="Email" class="form-label mt-4">Epasta adrese</label>
      <input asp-for="Email"  class="form-control" placeholder="Ievadiet epasta adresi">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Password" class="form-label mt-4">Parole</label>
      <input asp-for="Password" class="form-control" placeholder="Parole">
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="ConfirmPassword" class="form-label mt-4">Apstiprināt paroli</label>
      <input asp-for="ConfirmPassword" class="form-control" placeholder="Parole">
      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Reģistrēties</button>
    </div>
  </fieldset>
</form>