@model Items
@{
    ViewData["Title"] = "Preces";
}
<form method="post">
  <fieldset>
@*      <div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group">
      <label asp-for="Name" class="form-label mt-4">Nosaukums</label>
      <input asp-for="Name"  class="form-control">
    </div>
    <div class="form-group">
      <label asp-for="Description" class="form-label mt-4">Apraksts</label>
      <input asp-for="Description"  class="form-control">
    </div>
    <div class="mt-4">
        <input type="hidden" name="warehouseId" value=@ViewBag.WarehouseId />
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="Items" asp-action="Index" asp-route-id="@ViewBag.WarehouseId" class="btn btn-light">Atpakaļ uz sarakstu</a>
    </div>
  </fieldset>
</form>