@{
    ViewData["Title"] = "Application";
}

<h1>Lietotne</h1>
<h3 class="mt-4">Lietotnes APK ielādes links
    <a href="https://github.com/rvt-prog-kval-22/D42-DavisDabols-inventarizacijasPaligs/raw/main/Aplikacija/invpalapp.apk">šeit</a>
</h3>
<h4 class="mt-3">Biežākās kļūdas</h4>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Pārlūkprogrammai nav atļauas ielādēt lietotnes
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
         Dodieties uz ierīces iestatījumiem un meklējat iestatījumu ar nosaukumu "Ielādēt aplikācijas no ārējiem avotiem" (var saukties savādāk) un atzīmējat atļaut jūsu pārlūkprogrammai instalēt lietotnes.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Play Protect nepazīstama izstrādātāja kļūda
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        Ja parādās šī kļūda, vienkārši nospiediet instalēt tāpat pogu. Pēc tā lietotnei būtu jāsāk instalācijas process.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Nevar ielogoties lietotnē
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        Pārbaudiet, vai ierīcē ir pieejams interneta savienojums, tas ir obligāts priekš lietotnes izmantošanas.
      </div>
    </div>
  </div>
</div>