@inject SignInManager<ApplicationUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Esiet sveicināti inventarizācijas palīgā!</h1>
    @if (!signInManager.IsSignedIn(User))
    {
        <p>Lai sāktu izmantot palīgu, lūdzu 
            <a asp-controller="Account" asp-action="Register">piereģistrējaties</a>
        vai 
            <a asp-controller="Account" asp-action="Login">pieslēdzaties</a>
        .</p>
    }

    @if (signInManager.IsSignedIn(User))
    {
        <p>Izmantojiet galveno izvelni lapas augšpusē, lai sāktu darbu.</p>
    }
</div>
